In [18]:
import numpy as np
import pandas as pd

df=pd.read_csv('version1.csv', header=None, names=['version1', 'key1'])
df.tail()

    version1 key1
45        46    b
46        47    c
47        48    d
48        49    a
49        50    b

In [19]:
# permute all but the last one rows:
new=np.append(np.random.permutation(df.iloc[:-1,0].values), df.iloc[-1,0])
# get the corresponding keys
new_k=[df[df.version1==i].key1.values[0] for i in new]
# add new columns and save
df['version2']=new
df['key2']=new_k
df.tail()

    version1 key1  version2 key2
45        46    b        37    a
46        47    c         4    d
47        48    d        46    b
48        49    a        14    b
49        50    b        50    b

In [20]:
df=pd.read_csv('version1.csv', header=None, names=['version1', 'key1'])
# shuffle all rows (note that the last row is also included)
df2=df.sample(frac=1).reset_index(drop=True)
# add new column and save
df['v2_is_v1']=df2['version1']
df['version2']=df['version1']
df['key2']=df2['key1']
df.tail()

    version1 key1  v2_is_v1  version2 key2
45        46    b        24        46    d
46        47    c         5        47    a
47        48    d        35        48    c
48        49    a        39        49    c
49        50    b         7        50    c

In [17]:
df.to_csv('2_versions.csv', index=False)